	body{
		margin: 0;
	}
	ul{
  		list-style-type: none;
  		margin: 0;
  		padding: 0;
  		overflow: hidden;
  		background-color: #30302f;
		position:top;
	}
	li a{
 		display: block;
 		font-size: 1.5em;
 		color: #ffffff;
 		padding: 14px 16px;
 		text-decoration: none;
 	}
	li{
 		display: inline;
 		float: left;
 	}
 	li a.active{
 		background-color: #26c5ff;
 	}
 	li a:hover:not(.active){
 		background-color: #6dd8ff;
 	}round-color: #8ad1e6;
 	}
