	#input-one{
		float: left;
	}
	#input-two{
		float: right;
	}
	#map{
		float: left;
		height: 700px;
	   	width: 700px;
	   	margin: 50px;
	   	margin-left: 150px;
	}
	#map2{
		float: right;
	   	height: 700px;
	   	width: 700px;
	   	margin: 50px;
	   	margin-right: 150px;
	}
	#table{
		float: left;
	}
	#table2{
		float: right;
	}
	body{
		background-color: #ffd19f;
		margin: 0;
	}
	table{
		border-collapse: collapse;
	}
	table, td{
		border: 1px solid #000000;
	}
	ul{
  		list-style-type: none;
  		margin: 0;
  		padding: 0;
  		overflow: hidden;
  		background-color: #30302f;
		position:top;
	}
	li a{
		font-size: 1.5em;
 		display: block;
 		color: #ffffff;
 		padding: 14px 16px;
 		text-decoration: none;
 	}
	li{
 		display: inline;
 		float: left;
 	}
 	li a.active{
 		background-color: #26c5ff;
 	}
 	li a:hover:not(.active){
 		background-color: #6dd8ff;
 	}
