<!DOCTYPE html>
	<head>
	     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   			integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   			crossorigin=""/>
	     <link rel = "stylesheet" href="css/style.css">
	     <title> Air Quality </title> 
		
		
	</head>

	<body>
	    <div id="navigation">
	         <ul id = pages>
  	              <li><a class="active" href= "index.html">Home</a></li>
                      <li><a href="about.html">About</a></li>
		 </ul>
	    </div>
	    <div id="map"></div>
	    <div id="map2"></div>
	 
	     <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   	          integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   	          crossorigin=""></script>
	     <script src="js/script.js"></script>
		
	
		 <div id="map"></div>
  
  
		<div id="app">
			<input v-model="lat" placeholder="Enter Latitude" id="lat"/><br>
			<input v-model="lon" placeholder="Enter Longitude" id="lon"/><br>
			<input v-model="loc" placeholder="Enter Location" id="loc"/><br>
			<button type="button" onclick="callFunc()"> Update </button><br>
			
			<input v-model="lat2" placeholder="Enter Latitude" id="lat2"/><br>
			<input v-model="lon2" placeholder="Enter Longitude" id="lon2"/><br>
			<input v-model="loc2" placeholder="Enter Location" id="loc2"/><br>
			<button type="button" onclick="callFunc2()"> Update </button><br>
			
			
			
		</div>
		
		
		<div id="data">
			<table id="table">
			</table>
		</div>
		<div id="data2">
			<table id="table2">
			</table>
		</div>
						
		
		
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</body>

	<script>
		var vm = new Vue({ 
		el: '#app',
		data: {   
			lat: map.getCenter().lat,  
			lon: map.getCenter().lng,
			lat2: map2.getCenter().lat,
			lon2: map2.getCenter().lng,
			loc: 'a',
			loc2: 'b',
			radius: '356177.86',
			radius2: '356177.86'
		}
	});
	</script>

</html>
